{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown",
		"textlint --fix"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}
