{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": ".+",
    "indentation": "tab",
    "max-empty-lines": 2,
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "ignore": []
      }
    ]
  },
  "ignoreFiles": [
    "**/*.ts",
    "**/*.tsx"
  ]
}
